<p>
    <% if flash.notice %>
        <div class="flashnotice">
            <% flash.notice.each do |_, msg| %>
                <%= msg %>
            <% end %>
        </div>
    <% end %>
    <% flash.clear %>
</p>
