<h1>Game #<%= @game.id %></h1>

<p>
    Players in game:
    <table>
        <tr>
            <th>Name</th>
            <th>Nb worms</th>
            <th>Dominos</th>
        </tr>
     <%= render partial: 'players' %>
    </table>
</p>

<%= show_game_state %>

<%= link_to 'Quit', root_path %>
